<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div style="font-size:10px;font-family:Verdana, Geneva, sans-serif;">
<div style="font-weight: bold;">
	Greetings from WorldVisa,
</div>
<div>
<p>
   Your Password is : <span th:text="${message0}"></span></p><br/><p>
   Please consider change of your password after login.
</p>
</div>
<p><i>&quot; Our goal is to have customer service that is not just the best, but legendary &quot;</i></p>
<p>
Thanking you<br/>
<b>Team WorldVisa</b>
</p>
</div>
</body>

</html>