<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div style="font-size:10px;font-family:Verdana, Geneva, sans-serif;">
<div style="font-weight: bold;">
	Dear Sir/Ma’am,
</div>
<div>
<p>
<b>Thank you for your interest in World Visa Consultants. </b>
<br><br>We write to acknowledge your request <b><span th:text="${message0}"></span></b>. 
We aim to answer your request within a lead time of 6 hours.<br><br>Please use this report id for any further correspondence with us.
</p>
<p><i>&quot; Our goal is to have customer service that is not just the best, but legendary &quot;</i></p>
<p>
Thanking you<br/>
<b>Team WorldVisa</b>
</p>
</div>
</div>
</body>

</html>