<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: header">

<title>World Visa | Add Contacts</title>




<!-- dataTables css -->
<link href="assets/datatables/dataTables.min.css"
	rel="stylesheet" type="text/css" />
<!-- End page Label Plugins -->

</head>
<body>
	<div class="wrapper animsition">
		<!-- main header -->
		<div th:switch="${user.role}">
			<header th:case="ADMIN" class="main-header" th:include="navbanner :: navbanner"></header>
			<header th:case="CUSTOMER" class="main-header" th:include="custbanner :: custbanner"></header>
			<header th:case="EMPLOYEE" class="main-header" th:include="empbanner :: empbanner"></header>
		</div>
		<!-- /.content-wrapper -->
		<div class="content-wrapper">
			<div class="container">
				<!-- main content -->
				<div class="content">
					<div class="content">
						<!-- Content Header (Page header) -->

						<!-- /. Content Header (Page header) -->
						<div class="row">
							<div class="col-sm-12">
								<div class="panel panel-bd lobidrag">
									<div class="panel-heading">
										<div class="col-sm-8">
									<div class="panel-title">
										<h4>
											<i class="pe-7s-note2"></i>Documents
										</h4>
										<h2 th:text="${dir}"></h2>
									</div>
									</div>
									
									<div class="col-sm-4" style="float: right">
										<div class="panel-title">
<a th:href="@{'/report/find/'+${rept.id}}">Basic Details</a> | <a href="/payment">Payment</a> | <a href="/case_status">Case Status</a> <!-- | <a href="/userNotification">Report Notification</a> -->
											<!--<div class="input-group">
												<span class="input-group-addon"><strong><span
														class="ti-direction-alt"></span> Jump To</strong></span> <select
													onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
													<option value="/payment">select</option>
													<option value="/payment">Payment</option>
													<option value="/documents">Documents</option>
													<option value="/case_status">Case Status</option>
													<option value="/userNotification">Report Notification</option>
												</select>
											</div>-->


										</div>
									</div>
									</div>
									<div class="panel-body">
										<div class="row">

											<div
												class="col-sm-12 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 text-center">
												<form th:action="@{/documents}" th:object="${documents}" method="post" enctype="multipart/form-data">
													<div class="form-group row">
														<label for="example-datetime-local-input"
															class="col-sm-3 col-form-label">File to Import</label>
														<div class="col-sm-7">
															<input class="form-control" type="file" name="file"
																id="example-datetime-local-input" />
														</div>
													</div>
													<div class="form-group row">
														<label for="name" class="col-sm-3 col-form-label">Description</label>
														<div class="col-sm-9">
															<input class="form-control" type="text" id="name"
																th:field="${documents.description}" data-required>
														</div>
													</div>
													<button type="submit" class="btn btn-primary">Add File</button>
													<br></br> <span th:utext="${successMessage}"></span>
												</form>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-bd lobidrag">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <h4>User Group List </h4>
                                        </div>
                                    </div>
                                    <div class="table-responsive">									
										<table id="dataTableExample3"
											class="table table-bordered table-striped table-hover">
											<thead>
												<tr>
													<th>Date</th>
													<th>Description</th>
													<th>File Name</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="var:${documentList}">
													<td th:text="${var.date}"></td>
													<td th:text="${var.description}"></td>
													<td th:text="${var.fileName}"></td>
													<td ><a id="report" 
														th:href="@{'/download/'+${var.id}}"
														>Download
														</a>
														<form  th:action="@{/delDoc}" method="post">
													<button class="glyphicon glyphicon-trash btn" th:value="${var.id}" name="doc" onclick="this.form.submit()"></button>
													</form></td>
												</tr>
											</tbody>
										</table>										
									</div>
                                </div>
							</div>
						</div>


					</div>


				</div>
				<!-- /.main content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<!-- start footer -->
		<footer class="main-footer">
			<div class="container">
				<div class="pull-right hidden-xs">
					<b>Version</b> 1.0
				</div>
				<strong>&copy; 2018 <a href="#">World Visa</a></strong> | All rights
				reserved. 
			</div>
		</footer>
		<!-- /. footer -->
	</div>
	<!-- ./wrapper -->
	<!-- jQuery -->
	<script src="assets/plugins/jQuery/jquery-1.12.4.min.js"
		type="text/javascript"></script>
	<!-- jquery-ui -->
	<script src="assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js"
		type="text/javascript"></script>
	<!-- Bootstrap js -->
	<script src="assets/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<!-- lobipanel js -->
	<script src="assets/plugins/lobipanel/lobipanel.min.js"
		type="text/javascript"></script>
	<!-- animsition js -->
	<script src="assets/plugins/animsition/js/animsition.min.js"
		type="text/javascript"></script>
	<!-- bootsnav js -->
	<script src="assets/plugins/bootsnav/js/bootsnav.js"
		type="text/javascript"></script>
	<!-- SlimScroll js -->
	<script src="assets/plugins/slimScroll/jquery.slimscroll.min.js"
		type="text/javascript"></script>
	<!-- FastClick js-->
	<script src="assets/plugins/fastclick/fastclick.min.js"
		type="text/javascript"></script>
	<!-- End Core Plugins
        =====================================================================-->
	<!-- Start Page Lavel Plugins
        =====================================================================-->
<!-- dataTables js -->
	<script src="assets/datatables/dataTables.min.js"
		type="text/javascript"></script>
	<!-- Start Theme label Script
        =====================================================================-->
	<!-- Dashboard js -->
	<script th:src="@{/assets/dist/js/dashboard.js}" type="text/javascript"></script>
	<!-- End Theme label Script
        =====================================================================-->
	<script type="text/javascript">
		$(document)
				.ready(
						function() {

							"use strict"; // Start of use strict

							

							$("#dataTableExample2")
									.DataTable(
											{
												dom : "<'row'<'col-sm-5'l><'col-sm-3 text-center'B><'col-sm-4'f>>tp",
												"lengthMenu" : [
														[ 10, 25, 50, -1 ],
														[ 10, 25, 50, "All" ] ],
												buttons : [ {
												    extend : 'excel',
													title : 'Worldvisa_Report',
													className : 'btn-sm'
												}, {
													extend : 'pdf',
													title : 'Worldvisa_Report',
													className : 'btn-sm'
												}, {
													extend : 'print',
													className : 'btn-sm'
												} ]
											});

						});
	</script>
	
</body>
</html>