<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div style="font-size: 12px; font-family: Tahoma, Geneva, sans-serif;">
		<p>
			<b>Greetings from WorldVisa,</b>
		</p>
		<p>
			<b>Thank you for choosing us as your consulting partners.</b>
		</p>
		<p>
			Amount to be paid <b><span th:text="${message0}"></span></b><br /> 
		</p>
		<p>Have a nice day!</p>
		<p>Please ignore this mail if payment already done.</p>
		<p>
			<i>&quot; Our goal is to have customer service that is not just
				the best, but legendary &quot;</i>
		</p>
		<p>
			Thanking you<br /> <b>Team WorldVisa</b>
		</p>
	</div>
</body>
</html>